@model IEnumerable<educationalpp.Models.course_student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
             <th>
                student
            </th>
            <th>
                course
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.student.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_payment)
            </td>
               <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-success" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
